/*RESET*/

html, body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


ul {
    list-style-type: none;
}


a:hover {
    cursor: pointer;
}

button {
    border: none;
}

/* CUSTOM */

header, footer {
    padding: 1em;
}

main.not-found {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    color: #FF6060;
    padding: 1em;
}

main.not-found h1 {
    font-size: 9em;
    margin: 0;
}

main.not-found a:visited {
    color: #FF6060;
    text-decoration: underline;
}